@font-face {
    font-family: icon-font;
    src: url(fonts/icon-font/icomoon.ttf);
}

$icons: (
    mail:       \e600,
    cross:      \e601,
    arrow-left: \e602,
    arrow-right:\e603,
    github:     \e604,
    twitter:    \e605,
    dribble:    \e605,
    spotify:    \e605
);

.icon:before {
    font-family: icon-font;
    font-size: 26px;
    font-style: normal;
    vertical-align: middle;
}

@each $name, $value in $icons {
  .i-#{$name}:before {
    content: "#{$value}";
  }
}
