
// ==== //
// BLOG //
// ==== //

.blog-excerpt {

	padding: $inuit-base-spacing-unit;
	margin-bottom: $inuit-base-spacing-unit;

	&__title {
		margin: 0;
		height: 65px;

	}

	&__date {
		margin-top: 0;
	}

	&__tags {

	}

	&__excerpt {

		height: 8 * $inuit-base-line-height;
		overflow: hidden;
	}

}

.blog-excerpt--archive {

	.blog-excerpt__excerpt {
		height: auto;
	}
}

.blog__date-warning {

	display: none;

	p {
		margin: 0;
	}

}