
// ==== //
// BLOG //
// ==== //

.blog-excerpt {

	border: 1px solid $primary-colour;
	padding: $inuit-base-spacing-unit;
	margin-bottom: $inuit-base-spacing-unit;

	&__title {
		margin: 0;
		height: 65px;

	}

	&__date {
		margin-top: 0;
	}

	&__tags {

	}

	&__excerpt {
		height: 8 * $inuit-base-line-height;
		overflow: hidden;
		text-overflow: ellipsis;

	}

}
