
// ======== //
// BUTTONS //
// ======== //

.btn {

	display: inline-block;
	line-height: 40px;
	border: 3px solid;
	padding: 0 15px;
	margin: 0 0 5px 5px;
	font-family: $heading-font;

	transition: all 0.3s ease-in;

	&:hover {

		text-decoration: none;
	}
}

.btn--primary {

	color: $body-text;
	border-color: $body-text;
	background-color: $secondary-colour;

	&:hover {

		color: lighten($body-text, 20%);
		border-color: lighten($body-text, 20%);

		background-color: $grey;
	}

}