
// ======== //
// BUTTONS //
// ======== //

.btn {

	display: inline-block;
	line-height: 40px;
	border: 2px solid;
	padding: 0 15px;
	margin: 0 5px 20px 0;

	transition: all 0.3s ease-in;

	&:hover {

		text-decoration: none;
	}
}

.btn--primary {

	color: $body-text;
	border-color: $body-text;

	&:hover {

		color: lighten($body-text, 20%);
		border-color: lighten($body-text, 20%);

		background-color: lighten($body-text, 70%);
	}

}