.footer__links {

	list-style-type: none;

	.i {

		font-size: 40px;
		margin-right: 10px;
		display: inline;
		vertical-align: middle;
	}

	a:hover {
		text-decoration: none;
	}

	p {
		display: inline
	}
}