
// STRIPES //



body {

	position: relative;
	z-index: -1;
}

.stripe {

	position:  relative;
	background-color: $secondary-colour;

	&:before,
	&:after {
		content: "";
		display: block;
		background-color: $secondary-colour;
		z-index: -1;
		transform: rotate(-10deg);

		position: absolute;


		width: 300%;

		left: -160%;

		// Default
		height: 250px;

		// Small Screens
		@media (max-width: 600px) {
			height: 125px;
		}

		// Large Screens
		@media (min-width: 1200px) {
			height: 250px;
		}

		// Stupidly big Screens
		@media (min-width: 1350px) {
			height: 400px;
		}
		// Stupidly big Screens
		@media (min-width: 1850px) {
			height: 480px;
		}

	}


}



.footer.stripe:after {
	display: none;
}

.gap {
	height: 400px;
}
