
// ============ //
// TYPOGRAPHY //
// ============ //

$heading-font: 'Oswald', sans-serif;
$body-font: 'Noto Serif', serif;

h1,
h2,
h3,
h4 {
	font-family: $heading-font;
}
p {
	font-style: italic;
}
a {

	text-decoration: none;
	color: lighten($body-text, 10%);

	&:hover {
		color: $body-text;
		text-decoration: underline;
	}


}

.page__title {
	text-align: center;
}