<footer class="footer">

	<div class="inner-constraint">

		<h1>Get in touch</h1>

		<ul class="list-reset list--inline contact-icons">
			<li>
				<a href="https://twitter.com/mattgreenfield2">
					<img src="/assets/img/svg-icons/twitter.svg" alt="Twitter Logo">
				</a>
			</li>
			<li>
				<a href="https://github.com/Gmattgreenfield">
					<img src="/assets/img/svg-icons/github.svg" alt="Github Logo">
				</a>
			</li>
			<li>
				<a href="mailto:gmattgreenfield@gmail.com">
					<img src="/assets/img/svg-icons/email.svg" alt="Email icon">
				</a>
			</li>

		</ul>

		<small>Copyright Matt Greenfield 2015.</small>

	</div><!-- end inner constraint -->

</footer>
