
{% assign portfolio-items = site.portfolio | sort:"display-order" %}
<!-- Loop through the posts / portfolio items -->

{% for post in portfolio-items %}
<section class="content-box">

	<div class="grid">

		<div class="grid__item one-half palm-one-whole">
			<h3>{{ post.title }}</h3>
			<div>
				{{ post.content }}
				{% if post.link != "none"  %}
					<a href="{{ post.link }}">View Site</a>
				{% endif %}
			</div>
			<img class="portfolio__item__image"
				srcset="assets/img/portfolio/{{ post.slug }}-1--large.jpg 1024w,
						assets/img/portfolio/{{ post.slug }}-1--medium.jpg 640w,
						assets/img/portfolio/{{ post.slug }}-1--small.jpg  320w"
				sizes="(min-width: 600px) 50vw, (min-width: 1000px) 329px, 100vw"
				src="assets/img/portfolio/{{ post.slug }}-1--medium.jpg"
				alt="{{ post.slug }} website screenshot"
			>
		</div><!--

		--><div class="grid__item one-half palm-one-whole">
			<img class="portfolio__item__image"
				srcset="assets/img/portfolio/{{ post.slug }}-2--large.jpg 1024w,
						assets/img/portfolio/{{ post.slug }}-2--medium.jpg 640w,
						assets/img/portfolio/{{ post.slug }}-2--small.jpg  320w"
				sizes="(min-width: 600px) 50vw (min-width: 1000px) 329px, 100vw"
				src="assets/img/portfolio/{{ post.slug }}-2--medium.jpg"
				alt="another {{ post.slug }} website screenshot"
			>
	</div>

</section>
{% endfor %}
