
{% assign portfolio-items = site.portfolio | sort:"display-order" %}
<!-- Loop through the posts / portfolio items -->

{% for post in portfolio-items %}
<section class="content-box">

	<div class="grid">

		<div class="grid__item one-half palm-one-whole">
			<h3>{{ post.title }}</h3>
			<div>
				{{ post.content }}
				{% if post.link != "none"  %}
					<a href="{{ post.link }}">View Site</a>
				{% endif %}
			</div>
			<img class="portfolio__item__image" src="assets/img/portfolio/{{ post.slug }}/screenshot1.jpg" alt="{ post.slug }}-screenshot1">
		</div><!--

		--><div class="grid__item one-half palm-one-whole">
			<img class="portfolio__item__image" src="assets/img/portfolio/{{ post.slug }}/screenshot2.jpg" alt="{ post.slug }}-screenshot2">
		 </div>

	</div>

</section>
{% endfor %}
