.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width:669px) {
  html {
    font-size: 14px;
  }
}

body,
body * {
  box-sizing: border-box;
}

body {
  background-color: #f1f1ee;
  margin: 0;
  font-family: Roboto,sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #1c1c1c;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to bottom,#e6790e,#e6790e 110px,transparent 110px,transparent 100%);
}

body:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
}

body:before {
  background-color: #e6790e;
  top: 0;
  height: 20vh;
  -webkit-transform: skewY(6deg);
  transform: skewY(6deg);
}

.page-content {
  -ms-flex: 1;
  flex: 1;
}

.inner-constraint {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 1.92rem;
}

@media only screen and (max-width:669px) {
  .inner-constraint {
    padding: 0 1.344rem;
  }
}

body>.inner-constraint {
  margin-top: 12.72rem;
}

@media only screen and (max-width:669px) {
  body>.inner-constraint {
    margin-top: 250px;
  }
}

.heading,
h1,
h2 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: .34em;
  line-height: 1.3;
}

.heading--alpha {
  font-size: 2.7em;
}

h1 {
  font-size: 2em;
}

.heading--gamma,
h2 {
  font-size: 1.6em;
}

p {
  margin: 0 0 1em;
}

a {
  color: inherit;
}

.page-content a {
  font-weight: 700;
  text-decoration: underline;
}

.content-box a {
  color: #e6790e;
}

.heading a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.icon {
  display: block;
  width: 40px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}

.icon--featured {
  background-image: url(../img/icons/featured.svg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header .logo {
  float: left;
}

.header__background {
  background: #fff;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  z-index: -1;
  height: 90px;
  position: absolute;
  top: -1vw;
  left: 0;
  right: -5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.nav {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.nav li {
  display: inline-block;
  padding: 1rem;
}

@media only screen and (max-width:669px) {
  .nav {
    width: 100%;
    margin: .96rem 0 0;
  }

  .nav li {
    width: 33.33%;
    text-align: center;
    line-height: 1;
  }
}

.nav a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
}

.nav a.active {
  border-bottom-color: #f1f1ee;
}

.logo {
  font-size: 32px;
  text-decoration: none;
  line-height: 1;
  padding-top: 70px;
  padding-left: 25px;
  display: inline-block;
  width: 190px;
  height: 180px;
  position: relative;
}

@media only screen and (max-width:669px) {
  .logo {
    position: absolute;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -2;
  }
}

.logo span {
  position: relative;
}

.logo span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  height: 8px;
  width: 100%;
  z-index: -1;
  background: #e6790e;
}

.logo:after,
.logo:before {
  content: "";
  display: block;
  position: absolute;
  height: 180px;
  width: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo:before {
  background-image: url(../img/logo/fill.svg);
  top: 0;
  left: 0;
}

.logo:after {
  background-image: url(../img/logo/border.svg);
  top: 10px;
  left: 10px;
}

.content-box {
  background: #fff;
  padding: 1.92rem;
  margin-bottom: 3.84rem;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,.2);
}

@media only screen and (max-width:669px) {
  .content-box {
    padding: 1.344rem;
  }
}

.blog-summaries {
  -webkit-columns: 300px 3;
  -moz-columns: 300px 3;
  columns: 300px 3;
}

.blog-summaries>article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding-bottom: 1rem;
}

.article-summary {
  margin-bottom: 1rem;
  position: relative;
}

.article-summary>.icon {
  position: absolute;
  top: 1.92rem;
  right: 1.92rem;
  font-size: 0;
  width: 60px;
  height: 60px;
}

.article-summary>.icon+.heading {
  margin-right: 30px;
}

.article-summary__more {
  float: right;
}
