<article class="" data-type="{{ post.type }}">
    <div class="content-box article-summary clearfix">
        {% if post.featured == true %}<span class="icon icon--featured">Featured</span>{% endif %}
        <h1 class="heading"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <ul class="tags list-reset list--inline">
            <li>{{ post.type | capitalize }}</li>
        </ul>
        {{ post.excerpt }}
        <a href="{{ post.url }}" class="article-summary__more">Read More</a>
    </div>
</article>
