//
// Variables
//


// Spacing
$base-spacing-unit: 24px;

$grid-gutter: $base-spacing-unit;

$header-height: 140px;
$footer-height: 250px;

// Typography
$base-font-size:    16px!default;
$base-line-height:  24px!default;

// Responsive Widths
$lap-start:         655px;
$desk-start:        1024px;

// Colors
$teal: #1D6976;
$body-background-color: #F1F1EE;


// Transitions
$animation-time-fast: .3s;
$animation-time-med: .8s;
$animation-time-slow: 1.5s;
