
// Variables
@import "variables/variables";
@import "variables/colours";

// Tools
@import "tools/visuallyhidden";
@import "tools/list-reset";
@import "tools/img";
@import "tools/utility";
@import "tools/clearfix";
@import "tools/font-size-mixin";
@import "tools/media-query-mixin";

// Grid
@import "grid/base";
@import "grid/widths";
@import "grid/widths--responsive";

// Patterns
@import "patterns/base";
@import "patterns/typography";
@import "patterns/links";
@import "patterns/icons";
@import "patterns/billboard";
@import "patterns/blockquote";
@import "patterns/code";
@import "patterns/divider";
@import "patterns/browser";
@import "patterns/tags";
@import "patterns/message";
//@import "patterns/button"; Not currently in use
@import "patterns/header";
@import "patterns/nav";
@import "patterns/logo";
@import "patterns/section";
@import "patterns/footer";
@import "patterns/form";

// Third Party


// Blog layout
// one-third lap-one-half palm-one-whole
.blog-summaries {
    columns: 300px 3;
    > article {
        // display: inline-block;
        break-inside: avoid;
        padding-bottom: 1rem; // rework vertical rhythm to stop box-shadow overflowing columns
    }

}

.article-summary {

    margin-bottom: 1rem;
}
.article-summary__more {
    float: right;

}
