
//
// Print CSS
//
// Mainly for the CV to pdf

.print-show {
    display: none;
    @media print {
        display: block;
    }
}


@media print {

    // Utilty class
    .print-hide {
        display: none;
    }

    @page {
        // Hide page title, data, page number etc
        size:auto; margin:5mm;
    }

    .header {
        // Top it being fixed and appearing on every page
        position: absolute;

        // Remove site navigation
        .nav ul {
            display: none;
        }
    }


    [data-page="CV"] {
        .page__title {
            display: none;
        }
    }

}
