


// INUIT

$inuit-base-font-size:          18px;
$inuit-base-line-height:        28px !default;
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";

@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";

@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

@import "bower_components/inuit-page/base.page";

@import "bower_components/inuit-layout/objects.layout";

@import "bower_components/inuit-clearfix/trumps.clearfix";
$inuit-use-fractions: false;
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";

$base-spacing-unit: $inuit-base-spacing-unit;
img {
	max-width: 100%;
}



// ========== //
// VARIABLES //
// ========== //

$primary-color: #191919;
$secondary-colour: white;

$body-text: $primary-color;


%box-shadow {
	box-shadow: 0 0 8px 1px rgba(0,0,0,.1);
}


// =========== //
// SITE STYLES //
// =========== //

@import "sass_imports/typography";
@import "sass_imports/icon-font";
@import "sass_imports/stripes";
@import "sass_imports/buttons";

@import "sass_imports/nav";
@import "sass_imports/header";
@import "sass_imports/footer";
@import "sass_imports/blog";





/* BASE STYLES */
body {
	color: $body-text;
	background-color: black;
	background-image: url('/imgs/background.png');
	background-attachment: fixed;
	overflow: hidden;
	font-family: 'Noto Serif', serif;
}


// ============ //
// TO BE MOVED //
// ============ //

hr {
	margin: 60px 0 80px;
}

.inner-constraint {

	padding: 10px 50px;
	max-width: 1400px;
	margin: auto;
}

.portfolio-image {
	@extend %box-shadow;
	margin-bottom: $base-spacing-unit;
}
