
/* VARIABLES */

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
%cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

/* BASE STYLES */
body {
  background-color: white;
  background:
    linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 70%),
    url(imgs/background.png),
    white 0px 50px
  ;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 50px;
}
@font-face {
    font-family: Gobold;
    src: url(fonts/gobold.ttf);
}
@import "sass-imports/icon-font";

h1, h2, h3, h4 {
  font-family: Gobold;
}
p {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-style: italic;
}
.page {
  margin-bottom: 50px;
}
.page__title {
  margin: 20px 0;
}

/* GRID */
.half {
  width: 50%;
  float: left;
  @media (max-width: 600px) {
      width: 100%;
  }
}


/* HOME */
.home {
  height: 70%;
  position: relative;
}
.home__text {
  position: absolute;
  top: 50%;
  width: 100%;
}
.name {
  font-size: 64px;
  line-height: 83px;
  text-align: center;
}
.tag-line {
  text-align: center;
  margin: 20px;
}

/* WORK */
@import "sass-imports/owl-base";

.owl-item {
}
.owl-item.center {
  z-index: 1;
  .work__item {
    width: 130%;
    margin-left: -15%;
    margin-top: 0;
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  &:before {
    font-size: 40px;
  }
}

.owl-prev { left: -40px;}
.owl-next { right: -40px;}

.work__item {
  margin: 10px;
  margin-top: 50px;
  box-shadow: 5px 7px 14px 0px rgba(0,0,0,0.50);
}
.work__item__overlay {
  background: rgba(0,0,0,0.50);
  display: none;
  width: 130%;
  height: 100%;
  position: absolute;
  top: 0;
}
.work__item__overlay__caption {
  height: 50px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
}
.owl-item.center:hover .work__item__overlay {
  display: block;
}


/* ABOUT */
.about__text {
  text-align: center;
}

/* CONTACT */
.contact {
  @extend %cf;
  .icon:before {
    padding: 10px;
  }
}
.contact__links {
  list-style-type: none;
  li {
    margin: 10px 0;
  }
}


/* FOOTER */
footer {
  clear: both;
  background-color: #56ca5e;
  padding: 10px 0;
  margin-top: 20px;
}

/* NAVIGATION */
/* .nav {
  li {
    display: inline-block;
    a {
      text-align: center;
      text-decoration: none;
    }
  }
}
 */
