{% include head.html %}

{% include header.html %}


	<main class="inner-constraint page-content">

		<h1 class="heading">{{ page.title }}</h1>

		<fieldset class="reset-fieldset content-box">
			<legend class="visuallyhidden">Search posts</legend>
			<label class="label" for="js-search-bar">Search</label>
			<input type="text" class="text-input text-input--full" id="js-search-bar" name="search-bar">
			<div>
				<input type="checkbox" id="js-posts-checkbox" checked>
				<label class="label" for="js-posts-checkbox">Posts</label>
				<input type="checkbox" id="js-portfolio-checkbox" checked>
				<label class="label" for="js-portfolio-checkbox">Portfolio</label>
			</div>
		</fieldset>

		<div class="blog-summaries" id="js-search-results">
			{% for post in site.posts %}<article class="" data-type="{{ post.type }}">
				<div class="content-box article-summary clearfix">
					<h1 class="heading"><a href="{{ post.url }}">{{ post.title }}</a></h1>
					<ul class="tags list-reset list--inline">
						<li>{{ post.type | capitalize }}</li>
					</ul>
					{{ post.excerpt }}
					<a href="{{ post.url }}" class="article-summary__more">Read More</a>
				</div>
			</article>{% endfor %}
		</div>

		{% include pattern-back-to-top.html %}

	</main>


{% include footer.html %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jets/0.8.0/jets.min.js"></script>
<script>
	// Set up the 'jets' plugin
	var jets = new Jets({
		searchTag: '#js-search-bar',
		contentTag: '#js-search-results'
	});

	// Show/Hide on checkbox click
	var portfolioItems = document.querySelectorAll('[data-type="portfolio"]');
	var blogItems = document.querySelectorAll('[data-type="blog"]');
	var postsCheckbox = document.getElementById('js-posts-checkbox');
	var portfolioCheckbox = document.getElementById('js-portfolio-checkbox');

	function showHide(type){
		for(i = 0; i < type.length; i++){
			type[i].classList.toggle("visuallyhidden");
		}
	}

	postsCheckbox.addEventListener("change", function(){showHide(blogItems);}, false);
	portfolioCheckbox.addEventListener("change", function(){showHide(portfolioItems);}, false);
</script>

{% include foot.html %}
