{% include head.html %}

{% include header.html %}

	{% if page.path contains '_posts' %}
		<article class="inner-constraint page-content">
	{% else %}
		<main class="inner-constraint page-content">
	{% endif %}

		<h1 class="page__title heading">{{ page.title }}</h1>

		{% comment %} if the page has content (in the markdown file), output it in a content-box {% endcomment %}
		{% if page.content != "" %}
			<div class="content-box">
				{{ content }}

				{% comment %} if its a blog post, provide a link back to the blog home page {% endcomment %}
				{% if page.path contains '_posts' %}
					<a href="/blog.html">Back to Blog Home</a>
				{% endif %}
			</div>
		{% endif %}

	{% if page.path contains '_posts' %}
		</article>
	{% else %}
		</main>
	{% endif %}

{% include footer.html %}

{% include foot.html %}
