<!doctype html>
<html lang="en">
	<head>
		<title>Matt Greenfield | {{ page.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Matt Greenfield Web Designer and Developer from Brighton, UK.">
		<meta name="author" content="Matt Greenfield">

		<link rel="shortcut icon" type="image/ico" href="assets/favicon.ico"/>

		<!-- CSS -->
		<style>{% include critical-css.html %}</style>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
		<link href="assets/css/styles.min.css" type="text/css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-51332366-2', 'auto');
			ga('send', 'pageview');

		</script>
	</head>
	<body>

		<header class="header">

			<div class="header__background"></div>

			<div class="inner-constraint">

				<nav class="nav">
					{% assign pages = site.pages | sort:"nav-position"  %}
					<ul class="list-reset">
					{% for p in pages %}
						{% if p.nav != false %}
							<li>
								<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
									{{ p.title }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				</nav>

				<div class="logo">
					<span class="logo__initials">MG</span>
					<span class="logo__name">Matt Greenfield</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="158" height="136" viewBox="0 0 158 136" version="1.1"><title>Rectangle</title><desc>Created with Sketch.</desc><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Desktop-Copy-2" transform="translate(-35.000000, 0.000000)"><g id="sticky" transform="translate(0.000000, -8.000000)"><g id="Rectangle-24-Copy-+-Rectangle-24" transform="translate(35.000000, 0.000000)"><path d="M12.96 0L157.43 8 154.98 104.98 13 144 12.96 0Z" id="Rectangle-24-Copy" opacity="0.9" fill="#C4C4C4"/><path d="M0.96 8L150.21 8 150.45 96.6 1 135 0.96 8Z" id="Rectangle-24" opacity="0.8" fill="#959595"/></g></g></g></g></svg>

				</div>

			</div><!-- end inner constraint -->

		</header>

		<main class="inner-constraint">

			<h1 class="page__title">{{ page.title }}</h1>
			<section class="content-box">
				{{ page.content }}
			</section>

			{% if page.url == "/index.html" %}
				{% include portfolio.html %}
			{% endif %}

		</main>

		<footer class="footer">

			<div class="inner-constraint">

				<h1>Get in touch</h1>

				<ul class="list-reset list--inline contact-icons">
					<li>
						<a href="https://twitter.com/mattgreenfield2">
							<img src="assets/img/svg-icons/twitter.svg" alt="Twitter Logo">
						</a>
					</li>
					<li>
						<a href="https://github.com/Gmattgreenfield">
							<img src="assets/img/svg-icons/github.svg" alt="Github Logo">
						</a>
					</li>
					<li>
						<a href="mailto:gmattgreenfield@gmail.com">
							<img src="assets/img/svg-icons/email.svg" alt="Email icon">
						</a>
					</li>
<!-- 					<li>
	<a href="#">
		<img src="assets/img/svg-icons/spotify.svg" alt="Spotify Logo">
	</a>
</li>
<li>
	<a href="#">
		<img src="assets/img/svg-icons/strava.svg" alt="Strava Logo">
	</a>
</li> -->
				</ul>

				<small>Copyright Matt Greenfield 2015.</small>

			</div><!-- end inner constraint -->

		</footer>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- My JS -->
		<script src="assets/js/scripts.min.js"></script>

	</body>

</html>
