{% include head.html %}

{% include header.html %}

	{% if page.path contains '_posts' %}
		<article class="inner-constraint">
	{% else %}
		<main class="inner-constraint">
	{% endif %}

		<h1 class="page__title heading">{{ page.title }}</h1>

		{% comment %} if the page has content (in the markdown file), output it in a content-box {% endcomment %}
		{% if page.content != "" %}
			<div class="content-box">
				{{ content }}

				{% comment %} if its a blog post, provide a link back to the blog home page {% endcomment %}
				{% if page.path contains '_posts' %}
					<a href="/blog.html">Back to Blog Home</a>
				{% endif %}
			</div>
		{% endif %}

		{% comment %} if its the blog home page, include the blog summarys {% endcomment %}
		{% if page.url == "/blog.html" %}
			{% include blog.html %}
		{% endif %}

		{% comment %} include the portfolio include / layout on the portfolio page {% endcomment %}
		{% if page.title == "Portfolio" %}
			{% include portfolio.html %}
		{% endif %}

	{% if page.path contains '_posts' %}
		</article>
	{% else %}
		</main>
	{% endif %}

{% include footer.html %}

{% include foot.html %}
