{% include head.html %}

{% include header.html %}


	<main class="inner-constraint">


		<h1 class="page__title heading">{{ page.title }}</h1>


		{% assign portfolio-items = site.portfolio | sort:"display-order" %}
		<!-- Loop through the posts / portfolio items -->

		{% for post in portfolio-items %}
		<article class="content-box">

			<div class="grid">

				<div class="grid__item one-half palm-one-whole">

					<h1 class="heading">{{ post.title }}</h1>
					<div class="margin-bottom-1">
						{{ post.content }}
						{% if post.link != "none"  %}
							<a href="{{ post.link }}" target="_blank">View Site</a>
						{% endif %}
					</div>

				</div><!--

				--><div class="grid__item one-half palm-one-whole">

					<div class="browser">
						<span class="browser__buttons"></span>
						<img srcset="assets/img/portfolio/{{ post.slug }}-2--large.jpg 1024w,
									assets/img/portfolio/{{ post.slug }}-2--medium.jpg 640w,
									assets/img/portfolio/{{ post.slug }}-2--small.jpg  320w"
							sizes="(min-width: 655px) calc( 50vw - (24px * 2)), (min-width: 1000px) 440px, calc( 100vw - (24px * 4))"
							src="assets/img/portfolio/{{ post.slug }}-2--medium.jpg"
							alt="another {{ post.slug }} website screenshot"
						>
					</div>
			</div>

		</article>
		{% endfor %}


	</main>


{% include footer.html %}

{% include foot.html %}
