
// Base page styles

body,
body * {
	box-sizing: border-box;
}

body {

	background-image:
		url("../img/triangle--orange.png"),
		url("../img/triangle--green.png"),
		url("../img/triangle--blue.png"),
	;
	background-position:
		right 0 top 40px, // 40px offset from the top
	 	50%,
		right 0px bottom ($footer-height - 3); // offset from the bottom by the footer height
	background-size: contain;
	background-repeat: no-repeat;
	background-color: $body-background-color;

	margin: 0;

	// Typography
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
	color: #1C1C1C;
}

.inner-constraint {

	max-width: 1000px;
	margin: auto;
	padding: 0 $base-spacing-unit;
}

main.inner-constraint {
	margin-top: $header-height + $base-spacing-unit;

	@include media-query(palm) {
		margin-top: 250px;
	}
}
