
// Base page styles

body,
body * {

	box-sizing: border-box;
}

body {

/* 	background-image: none
background-position: 0% 0%
background-size: auto auto
background-repeat: repeat
background-origin: padding-box
background-style: is itself a shorthand, its initial value is the concatenation of its own longhand properties
background-clip: border-box
background-color: transparent */

/* 	background:
	url("/assets/image/triangle--orange.png") 0 0 contain no-repeat,
	url("/assets/image/triangle--blue.png") 0 0 contain no-repeat #F1F1EE; */
	background:
		url("../img/triangle--orange.png") top,
		url("../img/triangle--green.png") 50%,
	;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: $body-background-color;

	margin: 0;

	// Typography
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
	color: #1C1C1C;
}

.inner-constraint {

	max-width: 1000px;
	margin: auto;
	padding: 0 $base-spacing-unit;
}

main.inner-constraint {
	margin-top: $header-height;
}
