
// Base page styles

html {
	font-size: 16px;
	@include media-query(palm) {
		font-size: 14px;
	}
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
body * {
	box-sizing: border-box;
}

body {

	background-image:
		url("/assets/img/triangle--orange.svg"),
		url("/assets/img/triangle--green.svg"),
		url("/assets/img/triangle--blue.svg"),
	;
	background-position:
		right 0 top 40px, // 40px offset from the top
		50%,
		right 0px bottom ($footer-height - 3); // offset from the bottom by the footer height
	background-size: contain;
	background-repeat: no-repeat;
	background-color: $body-background-color;

	margin: 0;

	// Typography
	font-family: 'Roboto', sans-serif;
	font-size: $base-font-size;
	line-height: 1.6;
	color: $body-text-color;
}


// flexbox sticky footer
// TODO: remove $footer-height, flexbox should deal with that
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.inner-constraint {

	max-width: 1200px;
	margin: auto;
	padding: 0 $base-spacing-unit;

	@include media-query(palm) {
		padding: 0 ($base-spacing-unit * .7);
	}
}

body > .inner-constraint {
	margin-top: $header-height + $base-spacing-unit;

	@include media-query(palm) {
		margin-top: 250px;
	}
}
