
// billboard
$billboard-background: rgba($grey, 0.7);

.billboard {
	max-width: 800px;
	margin: auto;
	font-size: 2.3rem;
	line-height: 1.73;
	margin-bottom: $base-spacing-unit * 4;
	display:inline;
	background-color: $billboard-background;
	outline: 10px solid $billboard-background;
	border-bottom: 13px solid transparent;

	p {
		margin-bottom: 0;
		display: inline;
	}

	a {
		color: inherit;
	}
}
