
// block quotes

blockquote {
	margin: 0;
	margin-bottom: 3rem; // just for use on the blog exceprt page, can be changed
	border-left: 10px solid lighten($body-text-color, 10%);
	padding-left: 1rem;
}
