
// Form input styles

.text-input {

    padding: $base-spacing-unit / 4;
    border: 1px solid $body-text-color;
    font-size: inherit;
    margin-bottom: $base-spacing-unit / 2;
    background: rgba($body-text-color, .05);

    &:focus {
        outline: none;
    }


    &--full {
        width: 100%;
    }
}

.label {
    cursor: pointer;
}


.reset-fieldset {
    border: none;
}
