
// Icons

.icon {
	display: block;
	width: $base-icon-size + 10;
	height: $base-icon-size;
}
.icon__label {
	@extend .visuallyhidden;
}

.icon--github {
	background-image: url("/assets/img/svg-icons/github.svg");
}
.icon--twitter {
	background-image: url("/assets/img/svg-icons/twitter.svg");
}
.icon--email {
	background-image: url("/assets/img/svg-icons/email.svg");
}
