//
// Links
//

// Reset
a {
	color: inherit;
}

.page-content a,
.footer a {

	font-weight: bold;
	text-decoration: underline;

	&:hover {
		// Opacity with legacy browser fallback. Just to make sure the link can be seen on different background colours
		background-color: $body-background-color;
		background-color: rgba($body-background-color, 0.6);
	}
}

// Links in the main page content
.content-box a {

	color: $orange;

	&:visited {
		color: $teal;
	}
}

// Reset some of the above if the link is a heading or an icon
%link-reset,
%link-reset:visited,
%link-reset:hover {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}

.heading a {
	@extend %link-reset;
}
a.icon {
	@extend %link-reset;
	&:hover {
		background-color: transparent;
	}
}
