
// Logo

.logo {

	display: inline-block;
	width: 160px;
	height: 140px;
	background-image: url("../img/logo-background.svg");
	background-repeat: no-repeat;

	&__initials {
		display: block;
		text-align: center;
		font-size: 80px;
		line-height: 1;
	}
	&__name {

	}
}
