
// Nav

.nav {

	display: inline-block;
	vertical-align: top;
	font-size: 1.5rem;
	margin-left: 2rem;

	li {
		display: inline-block;
		padding: 1rem;
	}

	// Mobile menu
	@include media-query(palm) {
		width: 100%;
		margin: 0;

			li {
				width: 33.33%;
				text-align: center;

				// Reduce the spacing between lines for when long page names wrap
				@include media-query(palm) {
					line-height: 1;
				}
			}

	} // end media-query

}

.nav a {

	text-decoration: none;
	color: inherit;
}
