
// Nav

.nav {

	display: inline-block;
	vertical-align: top;
	font-size: 1.5rem;
	margin-left: 2rem;

	li {
		display: inline-block;
		padding: 1rem;
	}

	// Mobile menu
	@include media-query(palm) {
		width: 100%;
		margin: 0;
		ul {
			display: flex;
			li {
				flex-grow: 1;
				text-align: center;
			}
		}
	} // end media-query

}

.nav a {

	text-decoration: none;
	color: inherit;
}
