
// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
}

.heading {
}

p {
    margin: 0;
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

.text-emphasis {
	// todo: make this use 'roboto regular', if its not already...
	font-weight: bold;
}
